.topBar{
    margin-left: 30px;
}

.orange{
    color:#dc552c;
}
.black{
    color:#262525;
}
.teal{
    color:#84f2d6;
}
.periwinkle{
    color:#bde4f4;
}
.tan{
    color:#fff6da;
}
/* .nav-wrapper{
    background-color:#dc552c;
    color:#f5feff;
} */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-image: url(assets/full-bloom.png)
  }

  .navImg{
      height: 50px;
      width: 45px;
      margin-top: 7px;
  }

.container{
    width: 90%;
}

.modal{
    height: auto;
    width: 80%;
}

.profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 175px;
    width: auto;
}

.aboutMe{
    text-align:center;
}

.linkedIn{
    height:32px;
    width:auto;
    margin-left:15px;
    margin-top: 10px;
}

.bioInfo{
    font-weight: bold;
}

.aboutText{
    color: #fff;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

h5{
    text-align: center;
}

.whiteness{
    color:#fff;
}

/* Materialize contact page info color */
  /* label color */
  .input-field label {
    color: #fff;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #fff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff;
  }
  .active{
      color: #fff !important;
  }
  .materialize-textarea{
      color:#fff;
      border-bottom: 0.5px solid #fff;
      box-shadow: 0 0.5px 0 0 #fff;
     
  }
  #textarea1{
    color:#fff;
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
}
#icon_email{
    color:#fff;
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
}
#icon_name{
    color:#fff;
    border-bottom: 0.5px solid #fff;
    box-shadow: 0 0.5px 0 0 #fff;
}
